<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-btn">&times;</span>
                <h2 class="modal-title">Change Date</h2>
            </div>
            <form action="/dashboard" method="POST" class="modal-form">
                <%- include("./partials/dateModal") %>
            </form>
        </div>
    </div>

    <div class="container-grid">
        <%- include("./partials/nav") %>
            <%- include("./partials/messages") %>
                <div class="dashboard-header">
                    <h1>
                        <%= date %>
                    </h1>
                    <h1>Hello Kevin!</h1>
                    <button class="change-date">Change Date</button>
                </div>
                <a href="/dashboard/food" class="dashboard-box">
                    <h2>Food</h2>
                    <h3>
                        <%= todayCalories %>
                    </h3>
                    <h4>Calories Consumed</h4>
                </a>
                <a href="/dashboard/exercise" class="dashboard-box">
                    <h2>Exercise</h2>
                    <h3>
                        <%= todayCaloriesBurned %>
                    </h3>
                    <h4>Calories Burned</h4>
                </a>
                <a href="/dashboard/journal" class="dashboard-box">
                    <h2>Journal</h2>
                    <h3>
                        <%= totalPosts %>
                    </h3>
                    <h4>Posts</h4>
                </a>
                <div class="data-graph">
                    <canvas id="myChart1"></canvas>
                </div>
                <div class="data-graph-dough">
                    <canvas id="myChart2"></canvas>
                </div>
    </div>
    <script src="/js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart1');
        var ctx2 = document.getElementById('myChart2');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Exercise Breakdown for the Week',
                    fontColor: '#D72638',
                    fontFamily: "'Fira Sans', sans-serif",
                    fontSize: 24
                },
            }
        });

        var chart = new Chart(document.getElementById("myChart2"), {
            type: 'doughnut',
            data: {
                labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Calorie Breakdown',
                    fontColor: '#D72638',
                    fontFamily: "'Fira Sans', sans-serif",
                    fontSize: 24
                },
                legend: {
                    position: 'bottom',
                },
            }
        });

        function genColor() {

        }

    </script>
</body>

</html>