<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <%- include("./partials/nav") %>
        <%- include("./partials/messages") %>
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close-btn">&times;</span>
                        <h2 class="modal-title">Change Date</h2>
                    </div>
                    <form action="/dashboard" method="POST" class="datePopUp">
                        <%- include("./partials/dateModal") %>
                    </form>
                </div>
            </div>

            <div class="container with-nav dashboard">
                <a href="/dashboard/exercise" class="dashboard-box">
                    <h2>Exercise</h2>
                    <h3>
                        <%= todayTime %>
                    </h3>
                    <h4>Total Minutes</h4>
                </a>
                <a href="/dashboard/food" class="dashboard-box">
                    <h2>Diet</h2>
                    <h3>
                        <%= todayCalories %>
                    </h3>
                    <h4>Total Calories</h4>
                </a>
                <a href="/dashboard/mental-health" class="dashboard-box">
                    <h2>Diary</h2>
                    <h3>
                        <%= totalPosts %>
                    </h3>
                    <h4>Posts</h4>
                </a>
            </div>
            <button class="change-date">Change Date</button>
            <script src="/js/app.js"></script>
</body>

</html>