<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-btn">&times;</span>
                <h2 class="modal-title">Change Date</h2>
            </div>
            <form action="/dashboard" method="POST" class="modal-form">
                <%- include("./partials/dateModal") %>
            </form>
        </div>
    </div>

    <div class="container-grid">
        <%- include("./partials/nav") %>
            <%- include("./partials/messages") %>
                <div class="dashboard-header">
                    <h2>
                        <%= date %>
                    </h2>
                    <h1>Hello <%= name %>!</h1>
                    <button class="change-date">Change Date</button>
                </div>
                <a href="/dashboard/food" class="dashboard-box">
                    <h3>Food</h3>
                    <h4>
                        <%= todayCalories %>
                    </h4>
                    <h5>Calories Consumed</h5>
                </a>
                <a href="/dashboard/exercise" class="dashboard-box">
                    <h3>Exercise</h3>
                    <h4>
                        <%= todayCaloriesBurned %>
                    </h4>
                    <h5>Calories Burned</h5>
                </a>
                <a href="/dashboard/journal" class="dashboard-box">
                    <h3>Journal</h3>
                    <h4>
                        <%= totalPosts %>
                    </h4>
                    <h5>Posts</h5>
                </a>
                <div class="graph data-dough">
                    <canvas id="doughnut"></canvas>
                </div>
                <div class="graph data-line">
                    <canvas id="bar"></canvas>
                </div>
    </div>
    <script src="/js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script>
        let rawCalBreakdown = '<%= calorieBreakdown %>'
        const formatCalBreakdown = rawCalBreakdown.split(",")

        let rawFoodName = '<%= meals %>'
        const formatFoodName = rawFoodName.split(",")

        const chart = new Chart(document.getElementById("doughnut"), {
            type: 'doughnut',
            data: {
                labels: formatFoodName[0] == "" ? ['No data'] : formatFoodName,
                datasets: [{
                    label: 'Calories',
                    data: formatCalBreakdown[0] == "" ? [100] : formatCalBreakdown,
                    backgroundColor: genColor(formatFoodName.length),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: "Today's Calorie Breakdown",
                    fontColor: '#000000',
                    fontFamily: "'Fira Sans', sans-serif",
                    fontSize: 20
                },
                legend: {
                    position: 'bottom',
                },
            }
        });

        let rawCaloriesBurned = '<%= weekCalories %>'
        const formatCaloriesBurned = rawCaloriesBurned.split(",")

        let rawDay = '<%= days %>'
        const formatDay = rawDay.split(",")

        const chart2 = new Chart(document.getElementById('bar'), {
            type: 'bar',
            data: {
                labels: formatDay,
                datasets: [{
                    label: 'Calories',
                    data: formatCaloriesBurned,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 0, 200, 1)'
                    ],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Calories Burned'
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Exercise in Past 7 Days',
                    fontColor: '#000000',
                    fontFamily: "'Fira Sans', sans-serif",
                    fontSize: 20
                },
            }
        });

        function genColor(num) {
            const colors = []

            while (colors.length != num) {
                const randomColor = Math.floor(Math.random() * 16777215).toString(16);
                if (!colors.includes("#" + randomColor) && randomColor.length == 6) {
                    colors.push("#" + randomColor)
                }
            }

            return colors
        }

    </script>
</body>

</html>