<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Exercise Edit</title>
</head>

<body>
    <div class="container-grid">
        <%- include("../partials/nav") %>
            <form action="/dashboard/exercise/<%= exercise.id %>?_method=PUT" method="POST"
                class="card exercise-card exercise-edit">
                <input required type="text" name="activity" id="activity" class="exercise-activity"
                    placeholder="Name of activity" value="<%= exercise.activity %>">

                <input disabled type="text" name="date" id="date" class="exercise-date" placeholder="Date"
                    value="<%= exercise.date.toLocaleTimeString([], {hour: '2-digit' , minute:'2-digit'}) %> &bull; <%=exercise.date.toLocaleDateString() %>">

                <input required type="number" name="time" id="time" class="exercise-stat"
                    placeholder="Duration (minutes)" value="<%= exercise.time %>">

                <input type="number" name="caloriesBurned" id="caloriesBurned" class="exercise-stat"
                    placeholder="Calories burned" value="<%= exercise.caloriesBurned %>">

                <textarea name="description" id="description" class="exercise-description"
                    placeholder="Describe your activity"><%= exercise.description %></textarea>
                <button type="submit" class="save">Save</button>
            </form>
    </div>
</body>

</html>